body {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0px auto 0px auto;
    width: 750px;
    background-color: #fdf6e3;
}

body a {
    text-decoration: none;
    color: #859900;
}

div#header {
    padding: 12px 0;
}

div#logo a {
    color: #268bd2;
    font-family: "Quattrocento", serif;
    font-size: 64px;
    text-decoration: none;
    margin-bottom:12px;
    display: block;
}

div#header #navigation a {
    color: #586e75;
    font-family: "Quattrocento", serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 12px;
    text-decoration: none;
    text-transform: lowercase;
}


div#header #navigation a#current {
    color: #268bd2;
}

div#footer {
    border-top: solid 2px #657b83;
    color: #657b83;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-family: "Quattrocento", serif;
    font-size: 24px;
    color: #268bd2;
    margin: 18px 0 0;
    text-transform: lowercase;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #777;
    font-size: 14px;
    text-transform: lowercase;    
}

ul {
    list-style-type: none;
}
div.footnotes {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: -10px;
    text-align: left;
    font-style: italic;
}
div.footnotes > hr {
    display: none;
}
div.footnotes > ol {
    margin-left: -25px;
}
div.footnotes > ol > p {
    margin-bottom: -12px;
}
div.comments {
    font-style: italic;
    margin-top: 30px;
    text-align: left;
}
